.view{
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  transform-origin: center center;
  overflow: hidden;
  background-color: rgb(50, 47, 60);
}

.star{
  border-radius: 50%;
  background-color: #ffc74a;
  &:hover{
    &:after{
      content: "";
      position: absolute;
      left: -15px;
      top: -15px;
      bottom: -15px;
      right:-15px;
      border: 4px solid #fff;
      border-radius: 50%;
    }
  }
}

.planet{
  position: absolute;
  border-radius: 50%;
  background-color: white;
}


@keyframes rotate{
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }

}
